<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="utf-8" />
    <h1><big><ins>СОЗДАТЬ ПОЛЬЗОВАТЕЛЯ</ins></big></h1>
</head>
<body style="background-color: gainsboro" th:width="90" th:height="90" border="2"
      cellspacing="7" cellpadding="4" align="center">
<form th:action="@{/add}" method="post">
    <p><label for="name"><big>ИМЯ</big></label></p>
    <p><input type="text" id="name" name="name" required></p>
    <p><label for="lastname"><big>ФАМИЛИЯ</big></label></p>
    <p><input type="text" id="lastname" name="lastname" required></p>
    <p><label for="age"><big>ВОЗРАСТ</big></label></p>
    <p><input type="number" id="age" name="age" required></p>
    <p><label for="city"><big>ГОРОД</big></label></p>
    <p><input type="text" id="city" name="city" required></p>
    <p>
        <input type="submit" value="СОЗДАТЬ">
    </p>
</form>
</body>
</html>
